@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0; /* Change the width as needed */
}

body {
    margin: 0 auto;
    background-color: #ebe7e2;
    color: #333;
    font-family: 'Josefin Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 400px;
    margin: 3rem auto;
    border: 2px solid black;
    padding: 1rem;
}

form div * {
    margin-bottom: 1rem;
    width: 95%;
    padding: .5rem;
}

form button {
    width: 49.5%;
    padding: 1rem;
}
.form-container {
    display: flex;
    justify-content: space-between;
}

.logout-button,
.memory-button,
.back-button {
    padding: 1rem;
    margin: 2rem;
    border-radius: 8px;
    border: 1px solid #444;
    background-color: #f6f7f2;
    transition: all .15s ease-in-out;
}

.logout-button:hover,
.memory-button:hover,
.back-button:hover {
    cursor: pointer;
    scale: 1.05;
}


.content-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 1rem auto;
}

.memory-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto 2rem auto;
}

.card{
    user-select: none; /*förhindrar att användaren markerar bild eller text genom att hålla ned musknappen och dra. */
    display: grid;
    padding: 1.2rem;
    background-color: #f3f3f2;
    border: 1px solid #444;
    border-radius: 1rem;
    transition: all .2s ease-in-out;
}
.back-of-card {
    background-image: url(/assets/BacksideUtan.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    aspect-ratio: 63/88;
    width: 184px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.back-of-card:hover {
    scale: 1.07;
    filter: brightness(1.1);
}

.small-card {
    aspect-ratio: 63/88;
    width: 184px;
    scale: 1.07;
}

.big:hover {
    scale: 1.03;
}

.card-photo {
    pointer-events: none;
    justify-self: center;
    object-fit: cover;
    object-position: top;
    height: 136px;
    width: 136px;
    border-radius: 50%;
    background-color: #ebe7e2;
    box-shadow: inset 4px 4px 10px rgb(140, 141, 128);
}

.caption-container-big {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 30px 100px;
    padding: 4rem 0;
}

.caption-container-small {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:  72px;
    pointer-events: none;
}

.card-header {
    font-size: 1.2rem;
    font-family: 'Press Start 2P';
    grid-area: auto / auto / 1 / span 2;
}

.card-occupation{
    font-style: italic;
    align-self: center;
}

.card-age {
    grid-area: auto / auto / 2 / 3;
    font-style: italic;
    justify-self: center;
    align-self: center;
}

.card-description {
    grid-column: span 2;
    margin-top: 1rem;
    height: 150px;
    overflow: hidden;
    line-height: 1.5;
}

.d-none {
    display: none;
}

.matched {
    filter: grayscale(1);
    scale: 1;
    transition: all .2s ease-in;
}

.jumbotron {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.point-counter {
    align-self: center;
    font-size: 5rem;
}
