@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0; /* Change the width as needed */
}

body {
    margin: 0 auto;
    background-color: #ebe7e2;
    color: #333;
    max-width: 1300px;
    font-family: 'Josefin Sans';
}

form {
    width: 400px;
    margin: 3rem auto;
    border: 2px solid black;
    padding: 1rem;
}

form div * {
    margin-bottom: 1rem;
    width: 95%;
    padding: .5rem;
}

form button {
    width: 49.5%;
    padding: 1rem;
}
.form-container {
    display: flex;
    justify-content: space-between;
}

.logout-button,
.memory-button,
.back-button {
    padding: 1rem;
    margin: 2rem;
    border-radius: 8px;

    border: 1px solid #444;
    background-color: #f6f7f2;
    transition: all .15s ease-in-out;
}

.logout-button:hover,
.memory-button:hover,
.back-button:hover {
    cursor: pointer;
    scale: 1.05;
}


.content-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    max-width: 1200px;
    margin: 1rem auto;
}

.memory-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    max-width: 1200px;
    margin: 1rem auto;
}

.card{
    display: grid;
    padding: 1.5rem;
    background-color: #f3f3f2;
    border: 1px solid #444;
    border-radius: 1rem;
    transition: all .2s ease-in-out;
}

.card:hover {
    scale: 1.03;
}

.card-photo {
    justify-self: center;
    object-fit: cover;
    object-position: top;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: #ebe7e2;
    box-shadow: inset 4px 4px 10px rgb(140, 141, 128);
}

.caption-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 0;
}

.card-header {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: 'Press Start 2P';
    grid-area: auto / auto / 1 / span 2;
    display: inline-block;
}

.card-occupation{
    font-style: italic;
}

.card-age {
    grid-area: auto / auto / 2 / 3;
    font-style: italic;
    justify-self: center;

}
.card-description {
    grid-column: span 2;
    margin-top: 1rem;
    height: 150px;
    overflow: hidden;
    line-height: 1.5;
}

.d-none {
    display: none;
}
